node_modules/
yarn-error.log
.DS_Store

# gitkeep
!/**/.gitkeep

# WordPress
/web/wp_2022/*
!/web/wp_2022/wp-content/
/web/wp_2022/wp-content/*
!/web/wp_2022/wp-content/uploads/
!/web/wp_2022/wp-content/plugins/
