@use "../settings/mixins" as *;
@use "../settings/variables" as *;

.site3 {
  .layout_2cols {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    .col1,
    .col2 {
      padding: 1em;
    }
    > .col1 {
      width: 20%;
      min-height: 50vh;
      border-right: 8px solid $color31;
      border-left: 8px solid $color30;
    }
    > .col2 {
      width: 78%;
      .txt + .pic {
        margin-top: 1em;
      }
      .txt + .txt {
        margin-top: 1em;
      }
    }
    .recruitNavList {
      > li {
        line-height: 1.2;
        + li {
          margin-top: 2em;
        }
        a {
          font-size: 90%;
          &:hover {
            color: $color31;
            text-shadow: 2px 1px 0 $color30;
          }
        }
      }
      .-current {
        a {
          text-shadow: 3px 2px 0 $color31;
        }
      }
    }
  }

  .recruitSec {
    .recruitTtl {
      position: relative;
      z-index: 1;
      font-size: 200%;
      line-height: 1;
      &::first-letter {
        font-size: 250%;
      }
      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: .2em;
        left: -.4em;
        display: block;
        width: 2.5em;
        height: 2.5em;
        background: $color30;
      }
    }
    .leadTxt {
      margin-top: 1em;
      font-size: 120%;
    }
    .pic {
      margin-top: 1em;
    }
    .btn a {
      margin-left: 0;
      padding: 0;
    }
  }
  .recruitInfo {
    display: flex;
    margin-top: 5rem;
    flex-wrap: wrap;
    align-items: baseline;
    dt {
      width: 20%;
      font-size: 80%;
    }
    dd {
      width: 80%;
      margin-top: 1em;
      line-height: 1.7;
    }
  }

  .sec-apply {
    &.-confirm {
      .contactTable td {
        padding: 0.5em 0;
      }
    }
    .contactTxt {
      text-align: left;
    }
    .contactTable {
      font-size: 80%;
      input[type=text],
      input[type=tel],
      input[type=email],
      textarea {
        width: 100%;
        padding: .5em;
        background: #f5f5f5;
      }
      &_required {
        th {
          display: flex;
          &::after {
            content: "必須";
            display: block;
            margin-left: .7em;
            padding: 0.3em 0.15em 0;
            font-size: 10px;
            line-height: 1.5;
            // border-radius: 2px;
            color: $color31;
            border: 1px solid $color31;
            // background: $color31;
            background: none;
          }
        }
      }
      .rowRadio {
        display: flex;
        align-items: center;
        label {
          vertical-align: middle;
        }
        input {
          margin-right: 0.2em;
          vertical-align: middle;
        }
      }
      @supports(-webkit-appearance: none) or (-moz-appearance: none) {
        input[type='checkbox'],
        input[type='radio'] {
          --active: #{$color31};
          --focus: 2px #{$color31}aa;
          --border-hover: #{$color31};
          --disabled-inner: #{$color31};
        }
      }
    }
    .btn {
      .wpcf7-spinner {
        position: relative;
        display: inline-block;
        visibility: hidden;
        width: 24px;
        height: 24px;
        margin: 0 24px;
        padding: 0;
        opacity: 0.75;
        border: none;
        border-radius: 100%;
        background-color: #23282d;
        &::before, &::after {
          display: none;
        }
      }
      input {
        display: inline-block;
      }
    }
    .btn input,
    .backBtn input {
      padding: 0.4em 1em;
      color: $color30;
      border-color: $color30;
      &:hover {
        background: rgba($color30, 0.15);
      }
    }
    .btn.-input::after,
    .backBtn button::before {
      display: none;
    }
  }
}
