@use "../settings/mixins" as *;
@use "../settings/variables" as *;

.footer {
  position: sticky;
  top: 100vh;
  padding: 10px 0;
  &Copy {
    font-size: 1rem;
    text-align: center;
  }
  .linkList {
    display: flex;
    justify-content: center;
    gap: 1em;
    > li {
      a {
        padding: 0.2em 1em;
        font-size: 10px;
        opacity: .7;
        border: 1px solid #000;
      }
      a[href="/"] {
        border-color: $color01;
      }
      a[href="/site2/"] {
        border-color: $color02;
      }
    }
  }
}
