extends ../../../_base/_layout3

block vars
  include ../../../_base/_settings
  - let key = "site3"
  - let page = pages[key]
  - let parent = "site3"

block contents
  include ../../../../html/_site3/_recruit/_contact.html
