block vars
doctype html
html(dir="ltr" lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#")
    include _head

  body(class="s-site3 p-" + key)
    include ../_includes/_header3

    main#main.site3
      block contents

      //- if key !== "top" && key !== "xxxx"
      //-  include ../../html/_footContent.html
    if key !== "xxxx"
     include ../_includes/_footer

    script(src="/_assets/js/vendor.js")
    script(src="/_assets/js/app.js")
