@use "../settings/mixins" as *;
@use "../settings/variables" as *;

.p-course {
  .courseList {
    gap: 5rem 4%;
    > li {
      width: 48%;
      background: #fff;
      @include mq() {
        width: 100%;
      }
    }
    .courseDtl {
      display: flex;
      flex-direction: column-reverse;
      height: 100%;
      &_col2{
        padding: 2em;
        @include mq() {
          padding: 1em;
        }
      }
      &_pic {
        margin-top: auto;
        margin-bottom: 0;
      }
      &_txt {
        margin-top: 2em;
      }
    }
  }
}

.sec-courseDetail {
  .courseTxt {
    margin-top: 2em;
  }
  .coursePicList {
    display: flex;
    margin-top: 3rem;
    gap: 1rem 2%;
    > li {
      width: 32%;
    }
  }
  .courseInfo {
    margin-top: 5rem;
    > li {
      + li {
        margin-top: 5rem;
      }
    }
    &_ttl {
      width: fit-content;
      font-size: 1.7rem;
      font-weight: bold;
      border-bottom: 1px solid $color01;
    }
    p {
      margin-top: 1em;
    }
    &_table {
      margin-top: 1rem;
      border-spacing: 0 1rem;
      border-collapse: separate;
      tr {
        margin-top: 1em;
        border-bottom: 1px solid #aaa;
      }
      th, td {
        padding: 0 1em;
      }
      th {
        width: 6em;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        background: $color01;
      }
    }
    &_samplePicTtl {
      margin-top: 2em;
      font-size: 1.6rem;
    }
    &_pic {
      display: flex;
      margin-top: .5rem;
      gap: 1rem 2%;
      > li {
        width: 32%;
      }
    }
  }
}
