@charset "UTF-8";
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent
}
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block
}
/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}
/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%
}
/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll
}
/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none
}
blockquote,
q {
  quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}
del {
  text-decoration: line-through
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0
}
th {
  font-weight: bold;
  vertical-align: bottom
}
td {
  font-weight: normal;
  vertical-align: top
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}
input,
select {
  vertical-align: middle
}
pre {
  white-space: pre;
  /* CSS2 */white-space: pre-wrap;
  /* CSS 2.1 */white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */word-wrap: break-word/* IE */
}
input[type=radio] {
  vertical-align: text-bottom
}
input[type=checkbox] {
  vertical-align: bottom
}
.ie7 input[type=checkbox] {
  vertical-align: baseline
}
.ie6 input {
  vertical-align: text-bottom
}
select,
input,
textarea {
  font: 99% sans-serif
}
table {
  font-size: inherit;
  font: 100%
}
small {
  font-size: 85%
}
strong {
  font-weight: bold
}
td,
td img {
  vertical-align: top
}
/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative
}
sup {
  top: -0.5em
}
sub {
  bottom: -0.25em
}
/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
  font-family: monospace,sans-serif
}
/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer
}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0
}
/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible
}
/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic
}
/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden
}
.clearfix:after {
  clear: both
}
.clearfix {
  zoom: 1
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold
}
* {
  font-size: 100%
}
html,
body {
  -webkit-text-size-adjust: 100%
}
html {
  font-size: 62.5%
}
@media (max-width: 48em) {
  html {
    font-size: 50%
  }
}
body {
  font-family: "游ゴシック体",YuGothic,"Yu Gothic M","游ゴシック Medium","Yu Gothic Medium","ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro",Osaka,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Helvetica,"ＭＳ Ｐゴシック","MS PGothic",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.4rem;
  line-height: 1.8;
  word-wrap: break-word;
  color: #333;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased
}
a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  color: #333;
  outline: none
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom
}
.container {
  width: 96%;
  max-width: 900px;
  max-width: 90rem;
  margin: 0 auto
}
.-color01 {
  color: #8bd2ec !important
}
.-color02 {
  color: #fff3d7 !important
}
.-color03 {
  color: #f6c6c7 !important
}
.-textIndent {
  text-indent: 1em
}
.-textLeft {
  text-align: left !important
}
.-textCenter {
  text-align: center !important
}
.-textRight {
  text-align: right !important
}
.-textTop {
  vertical-align: top !important
}
.-textMiddle {
  vertical-align: middle !important
}
.-textBottom {
  vertical-align: bottom !important
}
.-textSmall {
  font-size: 80%
}
.-textLarge {
  font-size: 180%
}
.-gothic {
  font-family: "游ゴシック体",YuGothic,"Yu Gothic M","游ゴシック Medium","Yu Gothic Medium","ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro",Osaka,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Helvetica,"ＭＳ Ｐゴシック","MS PGothic",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important
}
.-mincho {
  font-family: "游明朝体",YuMincho,"游明朝","Yu Mincho","ヒラギノ明朝 ProN W3","Hiragino Mincho ProN W3",HiraMinProN-W3,"ヒラギノ明朝 ProN","Hiragino Mincho ProN","ヒラギノ明朝 Pro","Hiragino Mincho Pro","HGS明朝E","ＭＳ Ｐ明朝","MS PMincho",Georgia,Times,"Times New Roman",serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important
}
.-txtS {
  font-size: 0.8em
}
.-txtL {
  font-size: 1.375em
}
.btn {
  margin-top: 3rem
}
.btn a,
.btn button,
.btn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 300px;
  max-width: 30rem;
  padding: 0.4em 1em;
  font-size: 1.3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.1em;
  color: #49b9e1;
  border: 2px solid #8bd2ec;
  border: 0.2rem solid #8bd2ec;
  background: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.btn a::after,
.btn button::after,
.btn span::after {
  content: "";
  position: relative;
  display: block;
  width: 0.4em;
  height: 0.4em;
  margin-left: 0.5em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 1px solid #8bd2ec;
  border-right: 1px solid #8bd2ec
}
.btn a:hover,
.btn button:hover {
  color: #fff;
  background: #8bd2ec
}
.btn a:hover::after,
.btn button:hover::after {
  -webkit-transform: translateX(0.2em) rotate(45deg);
  transform: translateX(0.2em) rotate(45deg);
  border-color: #fff
}
.btn span {
  color: #ccc;
  border-color: #ddd
}
.btn span::after {
  border-color: #ddd
}
.btn.-back a,
.btn.-back button,
.btn.-back span {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse
}
.btn.-back a::after,
.btn.-back button::after,
.btn.-back span::after {
  margin-right: 0.5em;
  margin-left: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg)
}
.btn.-back a:hover::after,
.btn.-back button:hover::after {
  -webkit-transform: translateX(-0.2em) rotate(-135deg);
  transform: translateX(-0.2em) rotate(-135deg);
  border-color: #fff
}
.backBtn {
  margin-top: 3rem
}
.backBtn a,
.backBtn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 300px;
  max-width: 30rem;
  padding: 0.4em 1em;
  font-size: 1.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.1em;
  color: #49b9e1;
  border: 1px solid #8bd2ec;
  background: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.backBtn a::before,
.backBtn button::before {
  content: "";
  position: relative;
  display: block;
  width: 0.4em;
  height: 0.4em;
  margin-right: 0.5em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom: 1px solid #8bd2ec;
  border-left: 1px solid #8bd2ec
}
.backBtn a:hover,
.backBtn button:hover {
  color: #fff;
  background: #8bd2ec
}
.backBtn a:hover::before,
.backBtn button:hover::before {
  -webkit-transform: translateX(-0.2em) rotate(45deg);
  transform: translateX(-0.2em) rotate(45deg);
  border-color: #fff
}
.courseList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem 3.5%
}
.courseList > li {
  width: 31%
}
.courseDtl {
  -webkit-transition: 0.3s;
  transition: 0.3s
}
.courseDtl_name {
  margin-top: 0.3em;
  font-size: 1.6rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center
}
a .courseDtl:hover {
  -webkit-filter: drop-shadow(5px 5px 20px rgba(139, 210, 236, 0.5));
  -webkit-filter: drop-shadow(0.5rem 0.5rem 2rem rgba(139, 210, 236, 0.5));
  filter: drop-shadow(5px 5px 20px rgba(139, 210, 236, 0.5));
  filter: drop-shadow(0.5rem 0.5rem 2rem rgba(139, 210, 236, 0.5))
}
a .courseDtl:hover .courseDtl_name {
  letter-spacing: 0.07em
}
.faqList {
  margin-top: 2rem
}
.faqList_q,
.faqList_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline
}
.faqList_q::before,
.faqList_a::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.8em;
  height: 1.8em;
  margin-right: 1em;
  font-weight: bold;
  color: #8bd2ec;
  border: 2px solid #8bd2ec;
  border: 0.2rem solid #8bd2ec;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.faqList_q::before {
  content: "Q"
}
.faqList_a {
  margin-top: 1em
}
.faqList_a::before {
  content: "A";
  color: #fff;
  background: #8bd2ec
}
.faqList_a + .faqList_q {
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top: 1px solid #eee
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5rem;
  gap: 1em;
  list-style-type: none
}
.pagination a,
.pagination span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4rem;
  height: 4rem;
  color: #49b9e1;
  border: 1px solid #8bd2ec;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.pagination a:hover {
  border-width: 3px;
  border-width: 0.3rem
}
.pagination span {
  color: #fff;
  background: #8bd2ec
}
.pagination .prev,
.pagination .next,
.pagination .first,
.pagination .last {
  overflow: hidden
}
.pagination .prev a,
.pagination .prev span,
.pagination .next a,
.pagination .next span,
.pagination .first a,
.pagination .first span,
.pagination .last a,
.pagination .last span {
  position: relative;
  text-indent: 100rem;
  color: transparent
}
.pagination .prev a::before,
.pagination .prev a::after,
.pagination .prev span::before,
.pagination .prev span::after,
.pagination .next a::before,
.pagination .next a::after,
.pagination .next span::before,
.pagination .next span::after,
.pagination .first a::before,
.pagination .first a::after,
.pagination .first span::before,
.pagination .first span::after,
.pagination .last a::before,
.pagination .last a::after,
.pagination .last span::before,
.pagination .last span::after {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 20%;
  height: 20%;
  border-top: 1px solid #49b9e1;
  border-right: 1px solid #49b9e1
}
.pagination .prev span,
.pagination .next span,
.pagination .first span,
.pagination .last span {
  border-color: #ddd;
  background: #fff
}
.pagination .prev span::before,
.pagination .prev span::after,
.pagination .next span::before,
.pagination .next span::after,
.pagination .first span::before,
.pagination .first span::after,
.pagination .last span::before,
.pagination .last span::after {
  border-color: #ddd
}
.pagination .prev a::before,
.pagination .prev span::before,
.pagination .next a::before,
.pagination .next span::before {
  left: 38%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg)
}
.pagination .prev a::after,
.pagination .prev span::after,
.pagination .next a::after,
.pagination .next span::after {
  display: none
}
.pagination .first a::before,
.pagination .first span::before,
.pagination .last a::before,
.pagination .last span::before {
  left: 30%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg)
}
.pagination .first a::after,
.pagination .first span::after,
.pagination .last a::after,
.pagination .last span::after {
  left: 48%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg)
}
.pagination .prev,
.pagination .first {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px 20px;
  padding: 1rem 2rem;
  background: rgba(240, 249, 253, 0.9);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header .titleLogo {
  width: 80px;
  width: 8rem
}
.header .titleLogo img {
  display: block;
  width: 100%;
  height: auto
}
.gnavList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.2em 1.5em
}
.gnavList li:not(.btn) a {
  display: block;
  font-size: 1.4rem
}
.gnavList li:not(.btn) a:hover {
  color: #8bd2ec
}
.gnavList .btn {
  margin-top: 0
}
[class^=sec-],
[class*=" sec-"] {
  padding-top: 7rem;
  padding-bottom: 5rem
}
.pageTtlContainer {
  padding: 8rem 0 2rem
}
.pageTtlContainer .pageTtl {
  font-size: 2.5rem
}
.pageTtlContainer .pageTtl::first-letter {
  padding: 1rem;
  font-size: 150%;
  color: #fff;
  background: #8bd2ec
}
.breadcrumbContainer .breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.3rem;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style-type: none
}
.breadcrumbContainer .breadcrumb_item + .breadcrumb_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.breadcrumbContainer .breadcrumb_item + .breadcrumb_item::before {
  content: "";
  display: block;
  width: 0.5em;
  height: 0.5em;
  margin: 0 0.8em 0 0.5em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 1px solid #8bd2ec;
  border-right: 1px solid #8bd2ec
}
.breadcrumbContainer .breadcrumb_item + .breadcrumb_item > span {
  font-weight: bold
}
.secTtl {
  position: relative;
  padding-bottom: 0.3em;
  font-size: 2rem;
  border-bottom: solid 3px rgba(139, 210, 236, 0.3);
  border-bottom: solid 0.3rem rgba(139, 210, 236, 0.3)
}
.secTtl::after {
  content: " ";
  position: absolute;
  bottom: -3px;
  bottom: -0.3rem;
  display: block;
  width: 10%;
  border-bottom: solid 3px #8bd2ec;
  border-bottom: solid 0.3rem #8bd2ec
}
.footer {
  padding: 10px 0;
  padding: 1rem 0
}
.footerCopy {
  font-size: 1rem;
  text-align: center
}
.p-about p {
  margin-top: 2em
}
.p-about p + p {
  margin-top: 1em
}
.p-about .picContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.p-about .picContainer img {
  width: 32%
}
.sec-blogList .articleList {
  margin-top: 5rem
}
.sec-blogList .articleList > li {
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee
}
.sec-blogList .articleList > li + li {
  margin-top: 2rem
}
.sec-blogList .articleList a {
  display: block
}
.sec-blogList .articleList a:hover {
  -webkit-filter: drop-shadow(3px 3px 5px rgba(139, 210, 236, 0.8));
  -webkit-filter: drop-shadow(0.3rem 0.3rem 0.5rem rgba(139, 210, 236, 0.8));
  filter: drop-shadow(3px 3px 5px rgba(139, 210, 236, 0.8));
  filter: drop-shadow(0.3rem 0.3rem 0.5rem rgba(139, 210, 236, 0.8))
}
.sec-blogList .articleDtl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.sec-blogList .articleDtl_pic {
  width: 20%;
  background: rgba(139, 210, 236, 0.1)
}
.sec-blogList .articleDtl_pic img {
  width: 100%;
  max-height: 10rem;
  -o-object-fit: contain;
  object-fit: contain
}
.sec-blogList .articleDtl .col2 {
  width: 78%
}
.sec-blogList .articleDtl_ttl {
  font-size: 120%
}
.sec-blogList .articleDtl_date {
  font-size: 80%;
  font-weight: bold;
  color: #8bd2ec
}
.sec-blogList .articleDtl_txt {
  margin-top: 1em
}
.sec-blog .btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10%
}
.sec-blog .btn {
  margin-top: 0
}
.sec-blog .returnList a {
  padding: 0.5em;
  text-decoration: underline;
  -webkit-text-decoration-color: #8bd2ec;
  text-decoration-color: #8bd2ec
}
.blogContainer {
  margin-top: 3rem
}
.blogContainer img.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto
}
.blogContainer img.alignright {
  display: block;
  margin-right: 0;
  margin-left: auto
}
.blogContainer h2,
.blogContainer h3,
.blogContainer h4,
.blogContainer h5,
.blogContainer h6 {
  font-weight: bold
}
.blogContainer h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 170%;
  border-bottom: 2px solid #8bd2ec;
  border-bottom: 0.2rem solid #8bd2ec
}
.blogContainer h3 {
  font-size: 150%
}
.blogContainer h4 {
  font-size: 120%
}
.blogContainer h5 {
  font-size: 110%
}
.blogContainer ol,
.blogContainer ul {
  list-style-position: inside;
  text-indent: -1.2em
}
.blogContainer ol li,
.blogContainer ul li {
  margin-left: 1.2em
}
.blogContainer ul {
  list-style-type: square
}
.blogContainer a {
  text-decoration: underline;
  -webkit-text-decoration-color: #8bd2ec;
  text-decoration-color: #8bd2ec
}
.sec-apply .contactTxt {
  text-align: center
}
.sec-apply .btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5rem
}
.contactTable {
  width: 100%;
  margin-top: 5rem
}
.contactTable input,
.contactTable button,
.contactTable textarea,
.contactTable select {
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}
.contactTable input[type=text],
.contactTable input[type=tel],
.contactTable input[type=email],
.contactTable textarea {
  width: 100%;
  padding: 0.5em;
  background: #f3f3f3
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .contactTable input[type=checkbox],
  .contactTable input[type=radio] {
    --active: #8bd2ec;
    --active-inner: #fff;
    --focus: 2px #8bd2ecaa;
    --focus: 0.2rem #8bd2ecaa;
    --border: #c5c5c5;
    --border-hover: #8bd2ec;
    --background: #fff;
    --disabled: #e7e7e7;
    --disabled-inner: #8bd2ec;
    position: relative;
    display: inline-block;
    width: 18px;
    width: 1.8rem;
    min-width: 18px;
    min-width: 1.8rem;
    height: 18px;
    height: 1.8rem;
    margin: 0;
    cursor: pointer;
    -webkit-transition: background 0.3s,border-color 0.3s,-webkit-box-shadow 0.2s;
    transition: background 0.3s,border-color 0.3s,-webkit-box-shadow 0.2s;
    transition: background 0.3s,border-color 0.3s,box-shadow 0.2s;
    transition: background 0.3s,border-color 0.3s,box-shadow 0.2s,-webkit-box-shadow 0.2s;
    border: 1px solid var(--bc, var(--border));
    outline: none;
    background: var(--b, var(--background));
    -webkit-appearance: none;
    -moz-appearance: none
  }
  .contactTable input[type=checkbox]:after,
  .contactTable input[type=radio]:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    -webkit-transition: opacity var(--d-o, 0.2s),-webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s),-webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),opacity var(--d-o, 0.2s),-webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease)
  }
  .contactTable input[type=checkbox]:checked,
  .contactTable input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2)
  }
  .contactTable input[type=checkbox]:disabled,
  .contactTable input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9
  }
  .contactTable input[type=checkbox]:disabled:checked,
  .contactTable input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border)
  }
  .contactTable input[type=checkbox]:disabled + label,
  .contactTable input[type=radio]:disabled + label {
    cursor: not-allowed
  }
  .contactTable input[type=checkbox]:hover:not(:checked):not(:disabled),
  .contactTable input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover)
  }
  .contactTable input[type=checkbox]:focus,
  .contactTable input[type=radio]:focus {
    -webkit-box-shadow: 0 0 0 var(--focus);
    box-shadow: 0 0 0 var(--focus)
  }
  .contactTable input[type=checkbox]:not(.switch):after,
  .contactTable input[type=radio]:not(.switch):after {
    opacity: var(--o, 0)
  }
  .contactTable input[type=checkbox]:not(.switch):checked,
  .contactTable input[type=radio]:not(.switch):checked {
    --o: 1
  }
  .contactTable input[type=checkbox]:not(.switch):checked + label,
  .contactTable input[type=radio]:not(.switch):checked + label {
    color: #333
  }
  .contactTable input[type=checkbox] + label,
  .contactTable input[type=radio] + label {
    margin-left: 0.5em;
    cursor: pointer
  }
  .contactTable input[type=checkbox]:not(.switch) {
    border-radius: 4px;
    border-radius: 0.4rem
  }
  .contactTable input[type=checkbox]:not(.switch):after {
    top: 3px;
    top: 0.3rem;
    left: 5px;
    left: 0.5rem;
    width: 6px;
    width: 0.6rem;
    height: 9px;
    height: 0.9rem;
    -webkit-transform: rotate(var(--r, 20deg));
    transform: rotate(var(--r, 20deg));
    border: 2px solid var(--active-inner);
    border: 0.2rem solid var(--active-inner);
    border-top: 0;
    border-left: 0
  }
  .contactTable input[type=checkbox]:not(.switch):checked {
    --r: 43deg
  }
  .contactTable input[type=radio] {
    border-radius: 50%
  }
  .contactTable input[type=radio]:after {
    width: 16px;
    width: 1.6rem;
    height: 16px;
    height: 1.6rem;
    -webkit-transform: scale(var(--s, 0.7));
    transform: scale(var(--s, 0.7));
    opacity: 0;
    border-radius: 50%;
    background: var(--active-inner)
  }
  .contactTable input[type=radio]:checked {
    --s: .5
  }
}
.contactTable tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 0
}
.contactTable th {
  width: 160px;
  width: 16rem;
  padding: 0.5em 1em;
  text-align: left;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.contactTable td {
  padding-right: 1em;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}
.contactTable_radioRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.contactTable_radioRow + .contactTable_radioRow {
  margin-top: 0.2em
}
.contactTable_required th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline
}
.contactTable_required th::after {
  content: "必須";
  margin-left: 0.7em;
  padding: 0.05em 0.15em;
  font-size: 10px;
  font-size: 1rem;
  color: #fff;
  border-radius: 2px;
  border-radius: 0.2rem;
  background: #ec8ba2
}
.contactTable.-confirm td {
  width: 100%;
  padding: 0.5em;
  background: #f3f3f3
}
.p-course .courseList {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 3rem
}
.p-course .courseList > li {
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee
}
.p-course .courseDtl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.p-course .courseDtl_pic {
  width: 25%
}
.p-course .courseDtl_name {
  margin-top: 0;
  font-weight: bold;
  text-align: left
}
.p-course .courseDtl_txt {
  margin-top: 1em
}
.p-course .courseDtl_col2 {
  width: 72%
}
.sec-courseDetail .courseTxt {
  margin-top: 2em
}
.sec-courseDetail .coursePicList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  gap: 1rem 2%
}
.sec-courseDetail .coursePicList > li {
  width: 32%
}
.sec-courseDetail .courseInfo {
  margin-top: 5rem
}
.sec-courseDetail .courseInfo > li + li {
  margin-top: 5rem
}
.sec-courseDetail .courseInfo_ttl {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.7rem;
  font-weight: bold;
  border-bottom: 1px solid #8bd2ec
}
.sec-courseDetail .courseInfo p {
  margin-top: 1em
}
.sec-courseDetail .courseInfo_table {
  margin-top: 1rem;
  border-spacing: 0 1rem;
  border-collapse: separate
}
.sec-courseDetail .courseInfo_table tr {
  margin-top: 1em;
  border-bottom: 1px solid #aaa
}
.sec-courseDetail .courseInfo_table th,
.sec-courseDetail .courseInfo_table td {
  padding: 0 1em
}
.sec-courseDetail .courseInfo_table th {
  text-align: center;
  color: #fff;
  background: #8bd2ec
}
.sec-courseDetail .courseInfo_samplePicTtl {
  margin-top: 2em;
  font-size: 1.6rem
}
.sec-courseDetail .courseInfo_pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
  gap: 1rem 2%
}
.sec-courseDetail .courseInfo_pic > li {
  width: 32%
}
.topMv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80vh;
  background: url(/wp_2022/wp-content/uploads/mv04.jpg) center center/cover;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.topMv_ttl {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 10px #1f94bf;
  text-shadow: 0px 0px 1rem #1f94bf
}
.topPageTtl {
  position: relative;
  margin-top: 1em;
  font-size: 2rem;
  font-weight: bold
}
.topPageTtl::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -0.9em;
  left: -1.4em;
  display: block;
  width: 2em;
  height: 2em;
  border: 0.4em solid rgba(139, 210, 236, 0.5)
}
.topAbout {
  padding: 10rem 0 5rem
}
.topAbout_pic {
  position: relative;
  padding-top: 60%
}
.topAbout_pic::before {
  content: "";
  position: absolute;
  top: 10%;
  right: 0;
  display: block;
  width: 80%;
  height: 50%;
  background: rgba(139, 210, 236, 0.15)
}
.topAbout_pic img {
  position: absolute
}
.topAbout_pic img:nth-child(1) {
  right: 3%;
  bottom: 15%;
  width: 30%
}
.topAbout_pic img:nth-child(2) {
  top: 0;
  right: 22%;
  width: 43%
}
.topAbout_pic img:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 50%
}
.topAbout_txt {
  margin-top: 1em
}
.topCourse {
  padding: 5rem 0
}
.topFaq {
  padding: 5rem 0
}
/*# sourceMappingURL=../sourcemaps/style.css.map */
